.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Geolocation.exe
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2503b1d44fa46083811b.json
build/.cmake/api/v1/reply/cmakeFiles-v1-37c5b8621ed6f8ea12e1.json
build/.cmake/api/v1/reply/codemodel-v2-b33338be1b454fcd198a.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-05-21T15-54-57-0526.json
build/.cmake/api/v1/reply/target-Continuous-Debug-a4167e8d00e580bae5e5.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-965483dbb7e83db89e28.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-cd9d55b9b00b53d096fc.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-3a9d214907527f864575.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-3880c05882e2e5358b70.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-b89ead1cfcad547793b4.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-25361a4d0cbd2d41fc45.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-df93089ef92e2a13e14a.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-43605edc40ea00653c0a.json
build/.cmake/api/v1/reply/target-Experimental-Debug-779202061bd45080a4c4.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-195d23642c36b8290977.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-9dfa494441d2de2f1e8a.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-36be4b63fab921569a15.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-bd6eda747870ef5c7a78.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-3068b668ba6925752b43.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-e8f872a1327e4462a676.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-228e3ed6aae8b5e9c91d.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-7e23bd929851996a7a8f.json
build/.cmake/api/v1/reply/target-Geolocation-Debug-94324229bd82fe71b71c.json
build/.cmake/api/v1/reply/target-Nightly-Debug-3131763755b9ada3844b.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-df32895e9b42e102ae8f.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-c896f0c2600e6c8b4e4a.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-49e639a681d66dde90f6.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-c45dfea65f97aa92171b.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-d73fb4913d16d1b3d3dc.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-eca26cac237c8f2aa39d.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-d89b4ddc2a2da3ff8d91.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-e78b1f4ff4614c276034.json
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-d7d6297510084d1f9eb0.json
build/.cmake/api/v1/reply/toolchains-v1-e719e28fe32911e094f8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.29.3/CMakeCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.29.3/CMakeSystem.cmake
build/CMakeFiles/3.29.3/CompilerIdC/a.exe
build/CMakeFiles/3.29.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.3/CompilerIdCXX/a.exe
build/CMakeFiles/3.29.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Continuous.dir/build.make
build/CMakeFiles/Continuous.dir/cmake_clean.cmake
build/CMakeFiles/Continuous.dir/compiler_depend.make
build/CMakeFiles/Continuous.dir/compiler_depend.ts
build/CMakeFiles/Continuous.dir/DependInfo.cmake
build/CMakeFiles/Continuous.dir/progress.make
build/CMakeFiles/ContinuousBuild.dir/build.make
build/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.make
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.ts
build/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
build/CMakeFiles/ContinuousBuild.dir/progress.make
build/CMakeFiles/ContinuousConfigure.dir/build.make
build/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.make
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.ts
build/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
build/CMakeFiles/ContinuousConfigure.dir/progress.make
build/CMakeFiles/ContinuousCoverage.dir/build.make
build/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.make
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.ts
build/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
build/CMakeFiles/ContinuousCoverage.dir/progress.make
build/CMakeFiles/ContinuousMemCheck.dir/build.make
build/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.make
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ContinuousMemCheck.dir/progress.make
build/CMakeFiles/ContinuousStart.dir/build.make
build/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousStart.dir/compiler_depend.make
build/CMakeFiles/ContinuousStart.dir/compiler_depend.ts
build/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
build/CMakeFiles/ContinuousStart.dir/progress.make
build/CMakeFiles/ContinuousSubmit.dir/build.make
build/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.make
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.ts
build/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
build/CMakeFiles/ContinuousSubmit.dir/progress.make
build/CMakeFiles/ContinuousTest.dir/build.make
build/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousTest.dir/compiler_depend.make
build/CMakeFiles/ContinuousTest.dir/compiler_depend.ts
build/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
build/CMakeFiles/ContinuousTest.dir/progress.make
build/CMakeFiles/ContinuousUpdate.dir/build.make
build/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.make
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.ts
build/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
build/CMakeFiles/ContinuousUpdate.dir/progress.make
build/CMakeFiles/Experimental.dir/build.make
build/CMakeFiles/Experimental.dir/cmake_clean.cmake
build/CMakeFiles/Experimental.dir/compiler_depend.make
build/CMakeFiles/Experimental.dir/compiler_depend.ts
build/CMakeFiles/Experimental.dir/DependInfo.cmake
build/CMakeFiles/Experimental.dir/progress.make
build/CMakeFiles/ExperimentalBuild.dir/build.make
build/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.make
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalBuild.dir/progress.make
build/CMakeFiles/ExperimentalConfigure.dir/build.make
build/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.make
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalConfigure.dir/progress.make
build/CMakeFiles/ExperimentalCoverage.dir/build.make
build/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.make
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalCoverage.dir/progress.make
build/CMakeFiles/ExperimentalMemCheck.dir/build.make
build/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.make
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/progress.make
build/CMakeFiles/ExperimentalStart.dir/build.make
build/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.make
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalStart.dir/progress.make
build/CMakeFiles/ExperimentalSubmit.dir/build.make
build/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.make
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalSubmit.dir/progress.make
build/CMakeFiles/ExperimentalTest.dir/build.make
build/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.make
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalTest.dir/progress.make
build/CMakeFiles/ExperimentalUpdate.dir/build.make
build/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.make
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalUpdate.dir/progress.make
build/CMakeFiles/Geolocation.dir/build.make
build/CMakeFiles/Geolocation.dir/cmake_clean.cmake
build/CMakeFiles/Geolocation.dir/compiler_depend.make
build/CMakeFiles/Geolocation.dir/compiler_depend.ts
build/CMakeFiles/Geolocation.dir/depend.make
build/CMakeFiles/Geolocation.dir/DependInfo.cmake
build/CMakeFiles/Geolocation.dir/flags.make
build/CMakeFiles/Geolocation.dir/GeolocationRequest.cpp.obj
build/CMakeFiles/Geolocation.dir/GeolocationRequest.cpp.obj.d
build/CMakeFiles/Geolocation.dir/GeolocationWifiPoints.cpp.obj
build/CMakeFiles/Geolocation.dir/GeolocationWifiPoints.cpp.obj.d
build/CMakeFiles/Geolocation.dir/includes_CXX.rsp
build/CMakeFiles/Geolocation.dir/link.txt
build/CMakeFiles/Geolocation.dir/linkLibs.rsp
build/CMakeFiles/Geolocation.dir/main.cpp.obj
build/CMakeFiles/Geolocation.dir/main.cpp.obj.d
build/CMakeFiles/Geolocation.dir/objects.a
build/CMakeFiles/Geolocation.dir/objects1.rsp
build/CMakeFiles/Geolocation.dir/progress.make
build/CMakeFiles/Nightly.dir/build.make
build/CMakeFiles/Nightly.dir/cmake_clean.cmake
build/CMakeFiles/Nightly.dir/compiler_depend.make
build/CMakeFiles/Nightly.dir/compiler_depend.ts
build/CMakeFiles/Nightly.dir/DependInfo.cmake
build/CMakeFiles/Nightly.dir/progress.make
build/CMakeFiles/NightlyBuild.dir/build.make
build/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
build/CMakeFiles/NightlyBuild.dir/compiler_depend.make
build/CMakeFiles/NightlyBuild.dir/compiler_depend.ts
build/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
build/CMakeFiles/NightlyBuild.dir/progress.make
build/CMakeFiles/NightlyConfigure.dir/build.make
build/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.make
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.ts
build/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
build/CMakeFiles/NightlyConfigure.dir/progress.make
build/CMakeFiles/NightlyCoverage.dir/build.make
build/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.make
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.ts
build/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
build/CMakeFiles/NightlyCoverage.dir/progress.make
build/CMakeFiles/NightlyMemCheck.dir/build.make
build/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemCheck.dir/progress.make
build/CMakeFiles/NightlyMemoryCheck.dir/build.make
build/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/progress.make
build/CMakeFiles/NightlyStart.dir/build.make
build/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
build/CMakeFiles/NightlyStart.dir/compiler_depend.make
build/CMakeFiles/NightlyStart.dir/compiler_depend.ts
build/CMakeFiles/NightlyStart.dir/DependInfo.cmake
build/CMakeFiles/NightlyStart.dir/progress.make
build/CMakeFiles/NightlySubmit.dir/build.make
build/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
build/CMakeFiles/NightlySubmit.dir/compiler_depend.make
build/CMakeFiles/NightlySubmit.dir/compiler_depend.ts
build/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
build/CMakeFiles/NightlySubmit.dir/progress.make
build/CMakeFiles/NightlyTest.dir/build.make
build/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
build/CMakeFiles/NightlyTest.dir/compiler_depend.make
build/CMakeFiles/NightlyTest.dir/compiler_depend.ts
build/CMakeFiles/NightlyTest.dir/DependInfo.cmake
build/CMakeFiles/NightlyTest.dir/progress.make
build/CMakeFiles/NightlyUpdate.dir/build.make
build/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.make
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.ts
build/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
build/CMakeFiles/NightlyUpdate.dir/progress.make
build/Testing/TAG
build/Testing/20240515-1506/Test.xml
build/Testing/20240517-1456/Test.xml
build/Testing/20240519-2041/Test.xml
build/Testing/20240521-1537/Test.xml
build/Testing/Temporary/LastTest_20240515-1506.log
build/Testing/Temporary/LastTest_20240517-1456.log
build/Testing/Temporary/LastTest_20240519-2041.log
build/Testing/Temporary/LastTest_20240521-1537.log
solution/cJSON.c
solution/cJSON.h
solution/Geolocation.exe
solution/GeolocationMain.cpp
solution/GeolocationRequest.cpp
solution/GeolocationRequest.hpp
solution/GeolocationWifiPoints.cpp
solution/GeolocationWifiPoints.hpp
solution/Makefile
GeolocationRequest.exe
GeolocationWifiPoints.exe
main.exe
